%ul.accordion{ "data-accordion": true, "data-multi-expand": "true" }
  %li.accordion-item{ "data-accordion-item": true }
    %a.accordion-title{ href:"#" } Email Adresine Göre Ara
    .accordion-content{ "data-tab-content": true }
      Naber :d Buraya form gelecek :d
  %li.accordion-item{ "data-accordion-item": true }
    %a.accordion-title{ href: "#" } İstatistikler
    .accordion-content{ "data-tab-content": true }
      İşte ne kadar kullanıcı var, toplam kaç saat gibi acayip şeyler işte
