.top-bar
  .top-bar-left
    %ul.dropdown.menu{ "data-dropdown-menu": true }
      %li= link_to "Chizelge", root_path, class: "menu-text"
  .top-bar-right
    %ul.menu
      - if User.find(current_user["id"]).admin?
        %li= link_to "Admin panel", admin_panel_path
      %li
        = button_to "Log out!", destroy_user_session_path, class: "button", method: :delete
